input.string, input.numeric {
  display: block;
  width: 100px;
  margin: 0 0 10px;
}

label {
  font-weight: bold;
}

input.button {
  margin: 0 0 10px;
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

textarea {
  display: block;
  margin: 0 0 10px;
  width: 300px;
}

select {
  display: inline;
  margin: 0 0 10px 10px;
}

fieldset {
  margin-bottom: 10px;
  padding: 5px 10px;
}
