<h1>Current Inventory:</h1>

<table>
  <tr>
    <th>Category</th>
    <th>Name</th>
    <th>Description</th>
    <th>Total</th>
  </tr>
<% @items.each do |item| %>
  <tr>
    <td><%= link_to item.category.name, item.category if item.category %></td>
    <td><%= link_to item.name, item %></td>
    <td><%= item.description %></td>
    <td><%= item.transactions_sum %></td>
  </tr>
<% end %>
</table>